// Base vars

$yellow: #fff394;
$red: #ff3c43;
$lightBlack: #1e1e1e;
$text: #606060;
$gray: #b4b4b4;
$lightGray: #f6f6f6;
$black: #101010;


$i: 10;
@while $i < 70 {
  .mt-#{$i} {
    margin-top: $i + px;
  }
  .mb-#{$i} {
    margin-bottom: $i + px;
  }
  $i: $i + 10;
}


// Sticky footer

html, body {
  height: 100%;
}
.rkrt__main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -170px;
  padding-top: 90px;

  @include MQM(SM) {
    margin-bottom: 0;
  }

  &:after {
    content: "";
    display: block;
  }
}

.rkrt__footer, .rkrt__main:after {
  height: 170px;

  @include MQM(SM) {
    height: auto;
  }
}
