.rkrt__job {

  &__info {
    padding: 20px;
    border-radius: 4px;
    background-color: $lightGray;

    .info-data {
      font-size: 11px;
      margin-bottom: 20px;

      &__caption {
        color: #606060;
        line-height: 18px;
        margin-bottom: 3px;
      }

      &__val {
        color: $red;

        a {
          color: $red;
          font-size: 11px;
        }
      }
    }
  }
}
